body{
background-color:antiquewhite ;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

.container,
.lebel,
.tile{
    display: flex;
}

.container,
.board,
.half{
    height: 100vh;
}


.container{
    padding: 10px;
}

.half{
    width: 98vw;
    margin: 1vw;
}


.lebel{
    height: 19vh;
    width: 50vw;
    justify-content: center;
}

.tile{
    height: 18vh;
    width: 10vw;
    margin: 2px;
    background-color: rosybrown;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.tile:hover{
    background-color: #ab7e7e;
}

.span{
    color: azure;
    text-align: center;
    font-weight: bold;
    text-shadow: black 0.2em 0.2em 0.4em;
}


.header{
    height: 10vh;   
    text-align: center;
}

.instruct{
    height: 20vh;
    text-align: center;
    padding: 3vw;

}

.notepad{
    height: 47vh;
    background-color: rosybrown;
    padding: 15px;   
}

h1{
    margin: 0;
}

#notespan{
    text-align:justify;
    line-height: 1.7;
    font-weight: bold;
    padding: 50px;
    color: rgba(255,255,255, 1);
    text-shadow: black 0.2em 0.2em 0.4em;
    text-decoration-style: solid;
    font-size:medium;
}